html,
body,
header,
#intro {
    height: 100%;
}

.top-nav-collapse {
    background-color: #03a9f4;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #03a9f4;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #03a9f4;
    }
  }

  iframe {
    max-width: 100%;
    height: 100%;
   }

   .img-res{
    width: 100%; 
    height: 234px;
   }
